$cta: #fe8033;
$bg: #272b34;
$light_bg: #2b3039;
$text: #2d343e;
$white: #fff;

.dispFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont {
  @extend .dispFlex;
  position: relative;
  width: 80%;
  height: 100%;
  margin: 50px auto;
  padding: 50px 0 0;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;

  .cart-item {
    margin: 30px auto;
    width: 90%;
    background: $cta;
    border: 2px solid black;
    border-radius: 5px;
  }
  .cart-clear {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 10px;
  }

  .claer-btn {
    border: none;
    border-radius: 5px;
    background-color: #1b1a17;
    height: 30px;
    width: 100px;
    font-size: 18px;
    color: white;
    cursor: pointer;
  }
  .claer-btn:hover {
    background-color: #fa1e0e;
  }

  .cart-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border-bottom: 2px solid black;
  }

  .cart-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: 700px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .cart-img {
    width: 100px;
    height: auto;
    margin-top: 10px;
  }

  .cart-list {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-weight: 700px;
    margin-left: 5%;
  }

  .cart-name,
  .cart-func {
    margin-left: 10px;
    width: 25%;
  }

  .cart-add,
  .cart-min {
    width: 30px;
    margin-right: 15px;
    font-weight: 700px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    color: wheat;
    cursor: pointer;
    background-color: #1b1a17;
  }

  .cart-add:active {
    transform: translateY(1.2px);
  }

  .cart-min {
    transform: translateY(1.2px);
  }

  .cart-total-header {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 22%;
    font-size: 20px;
    font-weight: 700px;
    border-top: 2px solid black;
  }

  .cart-total-price {
    display: flex;
    padding-left: 45%;
  }
}
