$cta: #fe8033;
$bg: #272b34;
$light_bg: #2b3039;
$text: #2d343e;
$white: #fff;

.dispFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

// content style
.content {
  // h3 {
  //   position: relative;
  //   text-align: center;
  //   color: $text;
  //   font-size: 10vw;
  //   margin-top: 30px;
  // }
  .maint_content {
    @extend .dispFlex;
    position: relative;
    width: 70%;
    height: 100%;
    margin: 50px auto;
    padding: 50px 0 0;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
    .card {
      width: 30%;
      border-radius: 15px;
      @extend .dispFlex;
      flex-direction: column;
      position: relative;
      transform: scale(0.8);
      transition: all 0.3s ease-in-out;
      margin-bottom: 50px;

      .card_img {
        margin-top: -5vw;
        img {
          width: 175px;
          height: 175px;
        }
      }

      .card_header {
        @extend .dispFlex;
        flex-direction: column;
        color: $white;
        margin: 25px 0;
        h2 {
          font-size: 20px;
        }
        p {
          font-size: 15px;
          text-align: center;
          color: rgba($white, 0.3);
          margin: 8px 0;
        }
        .price {
          font-size: 25px;
          color: $cta;
          span {
            font-size: 15px;
            display: inline-block;
            vertical-align: top;
          }
        }
      }
    }

    .card:hover {
      background-color: $light_bg;
      transform: scale(1.1);
      // cursor: pointer;
    }
    .card:hover {
      .btn {
        // background-color: $cta;
        color: $white;
      }
    }
  }
}

.btn {
  width: 130px;
  height: 35px;
  font-size: 14px;
  border-radius: 25px;
  border-style: none;
  color: rgba($white, 0.5);
  background-color: $text;
  @extend .dispFlex;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
  overflow: hidden;
}

.btn:hover {
  background-color: $cta;
}

.btn:active {
  transform: translateY(2px);
}
