$white: #fff;

// footer style
.dispFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  @extend .dispFlex;
  width: 100%;
  padding-top: 191px;
  justify-content: space-between;
  margin-top: auto;
  color: rgba($white, 0.3);
  font-size: 12px;
  .social {
    @extend .dispFlex;
    .icon {
      width: 15px;
      height: 15px;
      border-radius: 50px;
      border: 1px solid rgba($white, 0.3);
      @extend .dispFlex;
      font-size: 14px;
      color: rgba($white, 0.3);
      cursor: pointer;
      + .icon {
        margin-left: 15px;
      }
    }
  }
}
