// header style
$white: #fff;
$cta: #fe8033;

.dispFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  @extend .dispFlex;
  justify-content: space-between;
  width: 100%;
  color: $white;

  .logo {
    font-size: 25px;
    text-transform: uppercase;
    color: rgba($white, 0.7);
  }
  ul {
    @extend .dispFlex;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      font-size: 15px;
      margin-left: 15px;
      padding: 10px;
      box-sizing: border-box;
      color: rgba($white, 0.7);
      cursor: pointer;
    }
    a {
      text-decoration: none;
    }
  }
  .search {
    .icon {
      cursor: pointer;
      color: rgba($white, 0.7);
    }
    .cart {
      margin-left: 15px;
      color: rgba($white, 0.7);
    }
  }

  .cartVal {
    margin: 3px;
    font-size: 14px;
    font-weight: bold;
    vertical-align: super;
    color: $cta;
  }
  a {
    text-decoration: none;
  }
}
