* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$cta: #fe8033;
$bg: #272b34;
$light_bg: #2b3039;
$text: #2d343e;
$white: #fff;

body {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

.dispFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 30px 50px 20px 50px;
  box-sizing: border-box;
  background-color: $bg;
}
